@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 116%;
}

body{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom, rgba(31, 90, 49, 0.8), rgba(2, 79, 109, 0.8));
}

main{
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.sections{
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

.car{
    color: white;
    padding: 2rem;
}

.car p{
    font-size: .856rem;
    padding: 1rem 0px;
}

.sedan{
    background-color: hsl(31, 90%, 49%);
}
.suv{background-color:  hsl(184, 100%, 22%);}
.luxury{background-color: hsl(179, 100%, 13%);}

button{
    width: 70%;
    padding: .5rem;
    border: 1px solid white;
    border-radius: 50px;
    position: relative;
    transition: .3s ease-in-out;
}

button::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
}
button:hover{
    color: white;
    background: transparent;
}

@media (min-width: 48em){
    html{font-size: 125%;}
    .sections{
        padding: 0px;
        display: flex;
    }
    .car{
        min-height: 10vh;
    }
    .car p{
        max-width: 300px;
        padding: 1rem 0px 5rem;
    }
    
    button{
        width: 60%;
        padding: .678rem;
        font-family: "Poppins", sans-serif;
    }
}